/*header {
  text-align: center;
  padding: 1px;
  background-color: rgb(193, 206, 183); 
  font-style: initial;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center; 
  justify-content:around;
}*/

/*img{
  width: 60px;
}*/

*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-around;
  /* margin: 5px; */
  align-items: center;
  text-align: center;
  background-color: rgb(96, 131, 96);
}
h2{
  text-align: center;
}

body {
  font-family: "Open Sans";
  overflow-x: hidden;
}

.showcase {
  width: 100%;
  height: 850PX;
  position: relative;
  color: rgb(222, 211, 211);
  text-align: center;
}

.showcase img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99
}

.showcase .overlay {
  width: 100%;
  height: 850px;
  background-color: rgba(33, 36, 39, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.showcase h2 {
  margin-top: 30px;
  font-size: 3em;
}

h3 {
  color: rgba(201, 191, 191, 0.975);
  }